[submodule "cairo_contracts"]
	url = https://github.com/OpenZeppelin/cairo-contracts
	path = lib/cairo_contracts
[submodule "cairo_base64"]
	url = https://github.com/dhruvkelawala/cairo-base64
	path = lib/cairo_base64
[submodule "argent_contracts_starknet"]
	url = https://github.com/argentlabs/argent-contracts-starknet
	path = lib/argent_contracts_starknet
	branch = explore/plugins
